html, body{
    background:linear-gradient(40deg, #ccffff, #ffcccc, #ccffff) ;
    font-family: 'Oxygen', sans-serif;
    height: 2300px;
    width: 100%;
  }
  #main{
  
  
    border-radius: 20px;
  }
  #img-div{
  text-align: center;
  font-size: 15px;
  }
  #image{
    width: 100%;
    display: block;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 6px;
  }
  #title {
    text-align:center;
    font-size: 50px;
  }
  p ,pre {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    margin:10px;
  
  }
  #main ul li{
    word-spacing: 5px;
    text-align: justify;
    font-size: 17px;
    padding-bottom: 20px;
    margin-left: 18%;
    margin-right:18%;
  }
  h3{
  text-align: center;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  word-spacing: 4px;
  margin-left:10%;
  margin-right: 10%;
  }
  [href="https://en.wikipedia.org/wiki/Mahatma_Gandhi"]{
    text-decoration: none;
  
  }